@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url('./assets/images/background.png');
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; 
}